@{
    ViewBag.Title = "What Is VoteSmart?";
}
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <h3>@ViewBag.Message</h3>
    
    
</div>

<div class="row">
    <div class="col-xs-6">
        <p>
            To date, many Americans do not know that several elected positions even exist! When we vote down party lines or skip the smaller
            and more localized positions, we may be electing an individual that we do not want to be in power. By pinpointing all elected
            officials and their titles, we seek to ensure that voters are well educated with unbiased information before going to the polls.
        </p>
    </div>
    <div class="col-xs-6">
        <p>
            To date, many Americans do not know that several elected positions even exist! When we vote down party lines or skip the smaller
            and more localized positions, we may be electing an individual that we do not want to be in power. By pinpointing all elected
            officials and their titles, we seek to ensure that voters are well educated with unbiased information before going to the polls.
        </p>
    </div>
</div>
