@{
    ViewBag.Title = "Home Page";
}
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="slide-1">
                <div class="overlay"></div>
            </div>
            <div class="hero">
                <hgroup>
                    <h1>Straight Facts</h1>
                    <h3>Know your government</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">Register</button>
                <button class="btn btn-hero btn-lg" role="button">Sign In</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2">
                <div class="overlay"></div>
            </div>
            <div class="hero">
                <hgroup>
                    <h1>Elected Officials</h1>
                    <h3>Get to know every elected official in your area and their area of responsibility</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">Register</button>
                <button class="btn btn-hero btn-lg" role="button">Sign In</button>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3">
                <div class="overlay"></div>
            </div>
            <div class="hero">
                <hgroup>
                    <h1>Elected Offices</h1>
                    <h3>Get to know all local, state and national elected positions and what they do</h3>
                </hgroup>
                <button class="btn btn-hero btn-lg" role="button">Register</button>
                <button class="btn btn-hero btn-lg" role="button">Sign In</button>
            </div>
        </div>
    </div>
</div>
